body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#1E2962;
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.employe {


	border:2px solid grey;
	padding: 100px;

	/*border:9px outset grey;*/
}

th{
	border:3px solid #15BCA4;
	border-radius: 10%
}
table{

	color:white;
}
#workinfo{
	
	padding:10px;
	color:#F15008;

}

#aa:hover
{
	color:orange;

}
#l1{


	border: 50px solid white;
	margin:40px;
	border-radius: 10%;
}
#image{
	border-radius: 90%;
}